div.highlight {
    border-radius: 5px;
}

div.admonition {
    border-radius: 0px 0px 5px 5px;
}

code.literal {
    border-radius: 5px;
}

div.sidebar-container {
    width: 25em;
}

div.toc-drawer {
    width: 20em;
}
