name: "USB-Construct Docs"
on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/docs.yml'
      - 'docs/**'
      - 'usb_construct/**'
jobs:
  linkcheck:
    runs-on: ubuntu-latest
    name: 'Linkcheck usb_construct Docs'
    steps:
      - name: 'Setup Python'
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: 'Initialize Environment'
        shell: bash
        env:
          WORKSPACE: ${{ github.workspace }}
        run: |
          echo "$HOME/.local/bin:$PATH" >> $GITHUB_PATH
          echo "GITHUB_WORKSPACE=\"`pwd`\"" >> $GITHUB_ENV

      - name: 'Checkout Sources'
        uses: actions/checkout@v4

      - name: 'Setup Deps'
        shell: bash
        run: |
          python -m pip install --user --upgrade pip setuptools wheel setuptools_scm nox

      - name: 'Run Documentation Link Check'
        shell: bash
        continue-on-error: true
        run: |
          nox -s docs_linkcheck

  build-docs:
    name: 'Build usb_construct Docs'
    runs-on: ubuntu-latest
    steps:
      - name: 'Setup Python'
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: 'Initialize Env'
        shell: bash
        env:
          WORKSPACE: ${{ github.workspace }}
        run: |
          echo "$HOME/.local/bin:$PATH" >> $GITHUB_PATH
          echo "GITHUB_WORKSPACE=\"`pwd`\"" >> $GITHUB_ENV

      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Setup'
        shell: bash
        run: |
          sudo apt-get update
          python -m pip install --user --upgrade pip setuptools wheel setuptools_scm nox

      - name: 'Build Docs'
        shell: bash
        run: |
          nox -s docs

      - name: 'Deploy'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: build/docs/
          clean: true
